@import './variables';
@import './normalize.css';

@mixin mainFont($weight, $size) {
  font-family: 'Josefin Sans', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $dark-grayish-red;
}

.wrapper {
  background: $light-gradient;
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'hero'
    'main'
    'footer';
}

header {
  grid-area: header;
  display: grid;
  align-items: center;
  height: 17vw;
  max-height: 100px;
  .logo {
    padding-left: 3rem;
    img {
      width: 25vw;
      max-width: 150px;
    }
  }
}

.hero {
  grid-area: hero;
  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    width: 100vw;
  }
}

main {
  grid-area: main;
  text-align: center;
  padding: 0 3rem;
  .coming-soon {
    padding: 6rem 0 0 0;
    color: $dark-grayish-red;
    @include mainFont(400, 2.25rem);
    text-transform: uppercase;
    letter-spacing: 1rem;
    .coming-soon-highlight {
      font-weight: 300;
      color: $desaturated-red;
    }
  }
  .body-copy {
    @include mainFont(400, 1.5rem);
    color: $desaturated-red;
    line-height: 6vw;
  }
  .email-form {
  }
}

footer {
  grid-area: footer;
  text-align: center;
}
