body {
  background: linear-gradient(135deg, white, #fff5f5);
}

header {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
}

header .logo img {
  width: 110px;
}

.hero-mobile {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-desktop {
  display: none;
}

main {
  padding: 0 10%;
  text-align: center;
}

main .coming-soon {
  margin-top: 6rem;
}

main .coming-soon h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10vw;
  font-weight: 600;
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

main .coming-soon-highlight {
  color: #ce9797;
  font-weight: 300;
}

main .body-copy {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #413a3a;
  line-height: 2.25rem;
  color: #ce9797;
  margin: 2.75rem 0;
}

main .email-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .email-form input {
  height: 4rem;
  width: 100%;
  border: 1px solid #ce9797;
  border-radius: 2rem;
  padding-left: 1.5rem;
}

main .email-form input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

main .email-form input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

main .email-form input::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

main .email-form input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

main .email-form label {
  display: none;
}

main button {
  height: 4.4rem;
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  min-width: 10rem;
  margin-left: -4rem;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #413a3a;
  color: white;
  -webkit-box-shadow: -1px 4px 9px 3px rgba(249, 98, 98, 0.2);
          box-shadow: -1px 4px 9px 3px rgba(249, 98, 98, 0.2);
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main button:hover {
  -webkit-box-shadow: -1px 4px 9px 3px rgba(29, 7, 7, 0.3);
          box-shadow: -1px 4px 9px 3px rgba(29, 7, 7, 0.3);
}

footer {
  text-align: center;
  color: #ce9797;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #413a3a;
  height: 12vh;
  margin-top: 4rem;
  color: #d1d1d1;
}

footer .attribution a {
  color: #d1d1d1;
  text-decoration: none;
  cursor: pointer;
}

footer .attribution a:hover {
  color: #f96262;
}
/*# sourceMappingURL=style.css.map */