body {
  background: linear-gradient(135deg, white, #ffebeb);
  background-repeat: no-repeat;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
      grid-template-areas: 'header' 'hero' 'main' 'footer';
}

.wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vw;
  max-height: 100px;
}

.wrapper header .logo {
  padding-left: 3rem;
}

.wrapper header .logo img {
  width: 25vw;
  max-width: 150px;
}

.wrapper .hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
}

.wrapper .hero .hero-desktop {
  display: none;
}

.wrapper .hero .hero-mobile {
  width: 100%;
}

.wrapper main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  margin: 0 auto;
  text-align: center;
  padding: 0 4rem;
}

.wrapper main .coming-soon {
  padding: 6rem 0 0 0;
  color: #413a3a;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: #413a3a;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.wrapper main .coming-soon .coming-soon-highlight {
  font-weight: 300;
  color: #ce9797;
}

.wrapper main .body-copy {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #413a3a;
  color: #ce9797;
  line-height: 2.25rem;
}

.wrapper main .email-form {
  margin: 3rem 0;
}

.wrapper main .email-form form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .email-form form input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #ce9797;
  border-radius: 2.5rem;
  padding: 1.5rem 1rem 1.5rem 2.5rem;
  width: 100%;
}

.wrapper main .email-form form input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

.wrapper main .email-form form input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

.wrapper main .email-form form input::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

.wrapper main .email-form form input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
}

.wrapper main .email-form form label {
  display: none;
}

.wrapper main .email-form form button {
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 2.5rem;
  padding: 1.4rem 0;
  width: 9rem;
  border: none;
  -webkit-box-shadow: 0px 0.75rem 0.95rem rgba(249, 98, 98, 0.2);
          box-shadow: 0px 0.75rem 0.95rem rgba(249, 98, 98, 0.2);
}

.wrapper main .email-form form button:hover {
  -webkit-box-shadow: 0px 0.75rem 0.95rem rgba(65, 58, 58, 0.2);
          box-shadow: 0px 0.75rem 0.95rem rgba(65, 58, 58, 0.2);
  cursor: pointer;
}

.wrapper main .email-form form button img {
  max-height: 1.9rem;
}

.wrapper main .email-form form .email-reject-img {
  position: absolute;
  right: 12.5rem;
}

.wrapper main .email-form .email-reject-text p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  text-align: left;
  margin-left: 2.5rem;
  color: #f96262;
}

.wrapper main .email-form .red-border {
  border-color: #f96262;
}

.wrapper main .email-form .green-border {
  border-color: lightgreen;
}

.wrapper footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #413a3a;
  color: #ce9797;
  padding-bottom: 3rem;
}

.wrapper footer a {
  color: #f96262;
  text-decoration: none;
}

.wrapper footer a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media all and (min-width: 1024px) {
  .wrapper {
    background: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 66% 100%;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
        grid-template-areas: 'header   hero' 'main     hero' 'main     hero' 'footer   hero';
  }
  .wrapper header {
    height: 17vw;
    max-height: 200px;
  }
  .wrapper header .logo {
    padding-left: 15rem;
  }
  .wrapper header .logo img {
    width: 15vw;
    max-width: 150px;
  }
  .wrapper .hero {
    height: 100vh;
  }
  .wrapper .hero .hero-desktop {
    display: block;
    height: 100%;
  }
  .wrapper .hero .hero-mobile {
    display: none;
  }
  .wrapper main {
    text-align: left;
    padding: 0 15rem;
  }
  .wrapper main .coming-soon {
    font-size: 3rem;
    letter-spacing: 1.75rem;
    padding: 0;
  }
  .wrapper main .coming-soon .coming-soon-highlight {
    font-weight: 300;
  }
  .wrapper main .body-copy {
    font-size: 1.5rem;
    color: #ce9797;
    line-height: 2.5rem;
  }
  .wrapper main .email-form {
    margin: 3rem 0 0 0;
  }
  .wrapper main footer {
    text-align: left;
    padding: 0 15rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
    opacity: 0.8;
  }
}
/*# sourceMappingURL=style.css.map */